
Source: capi-ui-efl-util
Section: libs
Priority: extra
Maintainer: Kyuhun Jung <kyuhun.jung@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev, libslp-utilx-dev, libelm-dev, capi-base-common-dev

Package: capi-ui-efl-util
Architecture: any
Depends: ${shilbs:Depends}, ${misc:Depends}
Description: An EFL utility library in Tizen Native API

Package: capi-ui-efl-util-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-ui-efl-util (= ${Source-Version}), dlog-dev, libslp-utilx-dev, libelm-dev, capi-base-common-dev
Description: An EFL utility library in Tizen Native API (DEV)

Package: capi-ui-efl-util-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-ui-efl-util (= ${Source-Version})
Description: An EFL utility library in Tizen Native API (DBG)

